
Example new project from template/fp-info-cache
KiCad like a pro project 1 - LED torch/fp-info-cache
KiCad like a pro project 2 - A simple breadboard power supply/fp-info-cache
KiCad like a pro project 2 - A simple breadboard power supply/KiCad like a pro project 2 - A simple breadboard power supply-backups/KiCad like a pro project 2 - A simple breadboard power supply-2022-07-31_150354.zip
