
Example new project from template/fp-info-cache
KiCad like a pro project 1 - LED torch/fp-info-cache
KiCad like a pro project 2 - A simple breadboard power supply/fp-info-cache
KiCad like a pro project 2 - A simple breadboard power supply/KiCad like a pro project 2 - A simple breadboard power supply-backups/KiCad like a pro project 2 - A simple breadboard power supply-2022-07-31_150354.zip
KiCad like a pro project 3 - uC Datalogger/Libraries/ATMEGA328P-AU/how-to-import.htm
KiCad like a pro project 3 - uC Datalogger/Libraries/ATMEGA328P-AU/how-to-import.htm
KiCad like a pro project 3 - uC Datalogger/Libraries/DS1337S_/how-to-import.htm
KiCad like a pro project 3 - uC Datalogger/Libraries/ATMEGA328P-AU/how-to-import.htm
KiCad like a pro project 3 - uC Datalogger/Libraries/DS1337S_/License.txt
KiCad like a pro project 3 - uC Datalogger/KiCad like a pro project 3 - uC Datalogger-backups/KiCad like a pro project 3 - uC Datalogger-2022-07-31_153414.zip
KiCad like a pro project 3 - uC Datalogger/KiCad like a pro project 3 - uC Datalogger-backups/KiCad like a pro project 3 - uC Datalogger-2022-07-31_153929.zip
KiCad like a pro project 3 - uC Datalogger/KiCad like a pro project 3 - uC Datalogger-backups/KiCad like a pro project 3 - uC Datalogger-2022-07-31_154445.zip
KiCad like a pro project 3 - uC Datalogger/KiCad like a pro project 3 - uC Datalogger-backups/KiCad like a pro project 3 - uC Datalogger-2022-07-31_160150.zip
*.zip
KiCad like a pro project 2 - A simple breadboard power supply/KiCad like a pro project 2 - A simple breadboard power supply.kicad_prl
